.follow-btn {
  grid-column: 2;
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 999px;
  background-color: rgb(14, 167, 238);
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
