.all-groups {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  height: 500px;
  overflow: hidden;
}

.none {
  display: none;
}

.error_card {
  margin: 10px auto;
  padding: 40px;
  font-size: 18px;
  font-weight: 600;
  color: black;
  height: 100px;
}
