.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input_label {
  font-size: 16px;
  font-weight: 600;
}

.input_field {
  padding: 10px;
  height: 40px;
  border: 2px solid grey;
  border-radius: 8px;
}
