.navbar-desktop {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-desktop__link {
  position: relative;
  border: 0;
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(97, 97, 97);
  cursor: pointer;
  text-decoration: none;
}

.navbar-desktop__link:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(14, 167, 238);
}
